.checkout {
  display: flex;
  padding: 20px;
  background: white;
  height: max-content;
}
.checkout__title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}
.checkout__ad {
  margin-bottom: 10px;
}
